#architect-body {
    background-color: #1F2132 !important;
    color: #E1E1E1 !important;
}

#architect-body ::-webkit-scrollbar {
    background-color: #1F2132 !important;
}
#architect-body ::-webkit-scrollbar-thumb {
    background-color: #7cd3f7 !important;
}

#architect-control-tabs {
    width: 500px;
    height: 550px;
    margin: 50px;
    margin-right: 0px;
    background-color: #262B3D !important;
    font-size: 10pt;
    float: left;
}

#architect-control-tabs .tab {
    background-color: #262B3D !important;
    color: #E2EFFA !important;
    padding: 15px;
    border-color: #557 !important;
}


#architect-control-tabs .tab--selected {
    border-top: solid 2px #7CD3F7 !important;
    color: #7CD3F7 !important;
}

#architect-body .rc-slider-rail {
    background-color: #1F2132;
}
#architect-body .rc-slider-track {
    background-color: #7CD3F7;
}
#architect-body .rc-slider-handle {
    border-color: #7CD3F7;
    background-color: #1F2132;
}

#architect-body .rc-slider {
    margin-right: 2px;
    margin-top: 15px;
    margin-bottom: 10px;
    float: right;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 5px);
}

#architect-control-tabs .Select-value-icon {
    background-color: #232323;
}


#architect-control-tabs .Select-control, #architect-control-tabs .Select-menu-outer {
    border: solid 1px #545454;
    background-color: #262b3d !important;
    /*width: 200px;*/
}

#architect-control-tabs span.Select-value-label {
    color: #E2EFFA !important;
}
#architect-control-tabs .Select-input {
    padding: 0px;
}
#architect-control-tabs .tab-content {
    padding: 30px;
}

#architect-control-tabs .Select-value-icon {
    background-color: #232323;
}

#architect-control-tabs .Select-value-icon {
    background-color: #232323;
}




#action-type-aox .Select-control, #action-type-aox .Select-menu-outer {
    border: solid 1px #545454;
    background-color: #262b3d !important;
    max-width: 60% !important;
    margin-left: 20%
}

#action-type-aox span.Select-value-label {
    color: #E2EFFA !important;
}
#action-type-aox .Select-input {
    padding: 0px;
}
#action-type-aox .tab-content {
    padding: 30px;
}

#action-type-aox .Select-value-icon {
    background-color: #232323;
}

#action-type-solvent .Select-control, #action-type-solvent .Select-menu-outer {
    border: solid 1px #545454;
    background-color: #262b3d !important;
    max-width: 60% !important;
    margin-left: 20%
}

#action-type-solvent span.Select-value-label {
    color: #E2EFFA !important;
}
#action-type-solvent .Select-input {
    padding: 0px;
}
#action-type-solvent .tab-content {
    padding: 30px;
}

#action-type-solvent .Select-value-icon {
    background-color: #232323;
}

#action-type-ref .Select-control, #action-type-ref .Select-menu-outer {
    border: solid 1px #545454;
    background-color: #262b3d !important;
    max-width: 60% !important;
    margin-left: 20%
}

#action-type-ref span.Select-value-label {
    color: #E2EFFA !important;
}
#action-type-ref .Select-input {
    padding: 0px;
}
#action-type-ref .tab-content {
    padding: 30px;
}

#action-type-ref .Select-value-icon {
    background-color: #232323;
}

#action-hydro .Select-control, #action-hydro .Select-menu-outer {
    border: solid 1px #545454;
    background-color: #262b3d !important;
    max-width: 60% !important;
    margin-left: 20%
}

#action-hydro span.Select-value-label {
    color: #E2EFFA !important;
}
#action-hydro .Select-input {
    padding: 0px;
}
#action-hydro .tab-content {
    padding: 30px;
}

#action-hydro .Select-value-icon {
    background-color: #232323;
}


#action-type-comparator .Select-control, #action-type-comparator .Select-menu-outer {
    border: solid 1px #545454;
    background-color: #262b3d !important;
    max-width: 60% !important;
    margin-left: 20%
}

#action-type-comparator span.Select-value-label {
    color: #E2EFFA !important;
}
#action-type-comparator .Select-input {
    padding: 0px;
}
#action-type-comparator .tab-content {
    padding: 30px;
}

#action-type-comparator .Select-value-icon {
    background-color: #232323;
}

#architect-body tr, #architect-body th , #architect-body td{
    /*background-color: #262B3D !important;*/
    border-color: #E1E1E1 !important;
    padding: 0px;
    height: 7px;
    box-shadow: none !important;
}
#architect-body th.dash-filter input {
    color: #E2EFFA;
}

#architect-body .Select-menu-outer {
    z-index: 100;
}
#architect-body #data-table .row.row-0 {
    z-index: 1;
}
#architect-body button {
    color: #E2EFFA;
}
#architect-body button.previous-page, #architect-body button.next-page {
    font-size: 0px;
    border: none;
    padding: 0px;
    width: 50%;
    text-align: center;
    transition-duration: 300ms;
}
#architect-size, #architect-graph-type, #architect-view-dataset, #architect-preloaded-uploaded, #architect-view-dataset-custom, #architect-analyse-type, #action-type, #data-show {
    width: 200px;
    position: relative;
    display: inline-block;
    float: right;
    color: #E2EFFA;
}



#data_cols .Select-control, #data_cols .Select-menu-outer {
    border: solid 1px #545454;
    background-color: #262b3d !important;
    max-width: 100% !important;
}

#data_cols span.Select-value-label {
    color: #E2EFFA !important;
}
#data_cols .Select-input {
    padding: 0px;
}
#data_cols.tab-content {
    padding: 30px;
}

#data_cols.Select-value-icon {
    background-color: #232323;
}


#data_RMs .Select-control, #data_RMs .Select-menu-outer {
    border: solid 1px #545454;
    background-color: #262b3d !important;
    max-width: 100% !important;
}

#data_RMs span.Select-value-label {
    color: #E2EFFA !important;
}
#data_RMs .Select-input {
    padding: 0px;
}
#data_RMs.tab-content {
    padding: 30px;
}

#data_RMs.Select-value-icon {
    background-color: #232323;
}


#data_RMs_search .Select-control, #data_RMs_search .Select-menu-outer {
    border: solid 1px #545454;
    background-color: #262b3d !important;
    max-width: 100% !important;
}

#data_RMs_search span.Select-value-label {
    color: #E2EFFA !important;
}
#data_RMs_search .Select-input {
    padding: 0px;
}
#data_RMs_search.tab-content {
    padding: 30px;
}

#data_RMs_search.Select-value-icon {
    background-color: #232323;
}


data_RMs
#upload-data {, #data_cols
    border-color: #7CD3F7 !important;
}

data_RMs_search
#upload-data {, #data_cols
    border-color: #7CD3F7 !important;
}

table {
    border: 1px;
    font-size: 1.3rem;
    width: 95%;
    font-family:Ubuntu;
}

td{
    text-align: left;
    padding: 0px;
}
app-body{
    margin:0;
    padding: 0;
    background-color: #1F2140;
    font-family: 'Arial';
    color: white;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}
